<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adatok feltöltése</title>
  </head>
  <body>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <label for="nev">Név: </label>
      <input type="text" name="nev" id="nev" />
      <br />
      <label for="kep">Kép: </label>
      <input type="file" name="kep" id="kep" />
      <br />
      <input type="submit" value="Feltöltés" />
      <p><a href="/">Alaplap</a></p>
    </form>
  </body>
</html>
